# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# IntelliJ
.idea/

# Database
*.sqlite3

# OS
.DS_Store
Thumbs.db

node_modules/

# All trained models and generated features
results/VGG16/model/
results/MobileNetV2/model/
results/ConvNeXt/model/
results/features/