# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# IntelliJ
.idea/

# Database
*.sqlite3

# OS
.DS_Store
Thumbs.db

node_modules/
# Deep learning trained models and checkpoints
deep_learning/models/*.keras
deep_learning/results/*/checkpoints/