# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# IntelliJ
.idea/

# Database
*.sqlite3

# OS
.DS_Store
Thumbs.db

node_modules/

# Extracted weights folder
results/**/extracted/

# ConvNeXt features
results/features/convnext_*.npz
results/features/fused_all_*.npz
